@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent; 
}

#root {
  width: 100vw;
  height: 100vh;
  border-radius: 25px;
  overflow: hidden;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background: transparent; 
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}